body{
    font-family : Times New Roman;
    font-size : 13;
    width :1000px;
    margin :0px auto ;
}
#menu_top{
       background : #141414;
    height: 40px;
}
#banner{       
     height: 300px;
    width :1000px;
}
#main #left {
        width :700px;
    float:left;
      height:500px
}
#main #right {
      width :300px;
       background : blue;
    float:left;
    height:500px
}
#footer{
     background : black;
     width :1000px;
    text-align: centre;
        height: 60px;
    color: white;
    clear: left;
}
#menu_top ul {
    margin: 0px;
}
    padding: 0px;
}
#menu_top ul li {
list-style : none;
    float: left;
}
#menu_top ul li a {
    text-decoration : none;
    display : block;
    height: 40px;
    line-height: 40px;
    color:#FFF;
    padding : 0px 30px 0px 30px;
    border-right: 1px solid #ccc;
}
#menu_top ul li a.active {
    background: #1949b5;
}
#banner img{
    width: 1000px;
    height: 300px;
} 
#main #left ul {
     margin: 0px;
    padding: 0px;
}
#main #left ul li {
list-style : none;
    clear :left;
    border-bottom : 2px solid #ccc;
    float: left;
     margin-bottom: 20px;
}
#main #left ul li img {
    height :87.33px;
    width :87.33px;
    float: left;
    margin-right: 10px;
     margin-bottom: 20px;
}
#main #left ul li {
    font-size : 16px;
}
#main {
    margin-top: 8px;
}
#main #left ul li h2 {
font-size : 16;
margin-top: 0px;
