body{
    font-family : Times New Roman;
    font-size : 13;
    width :1000px;
    margin :0px auto ;
}
#menu_top{
       background : #141414;
    height: 40px;
}
#banner{
       background : red;
     height: 280px;
    width :1000px;
}
#main #left {
        width :800px;
       background : #23232;
    float:left;
        min-hight:400px
}
#main #right {
      width :200px;
       background : blue;
    float:left;
    min-hight:400px
}
#footer{
     background : yellow;
     width :1000px;
    text-align: centre;
        height: 60px;
    color: white;
    clear: left;
}



